<!--
    Title: footer.ejs
    Author: Jocelyn Dupuis
    Date: 06/16/2023
    Description: Footer for Pets-R-Us website
-->

// Footer for Pets-R-Us website and closes tags
    <footer>
        <p>Images courtesy of "<a href="http://unsplash.com/">unsplash</a></p>
        <p>Bellevue University - WEB 340</p>
    </footer>
  </body>
</html>