<!--
    Title: grooming.ejs
    Author: Jocelyn Dupuis
    Date: 06/18/2023
    Description: Body of grooming page for Pets-R-Us website
-->

// Displays header
<%- include("partials/header.ejs")  %>

// Displays mission statement in body of landing page
    <section class="mission">
        <div class="gooming-background-image"></div>
        <div class="mission-statement">
            <h1>Pets-R-Us</h1>
            <h3>mission statement will go here</h3>
            <a href="/register" class="btn btn-primary">Register for a FREE account!</a>
        </div>
    </section>

    // Displays grooming section
    <section class="about">
        <h3 class="title">Grooming</h3>
        <p>
          Here at Pets-R-Us, one of the services we provide is grooming. Our groomers are thoroughly trained and certified for many different types of animals. Small, large, short hair, long hair, cat, dog, bunny, you name it, we’ve groomed it. We understand that every animal is different and has their own individual personality, so we tailor our services to meet the needs of any breed. Our professional groomers pride themselves in caring for all types of furry (or non-furry) friends.  
        </p>
        <br>
        <p>
          What can you and your beloved animal expect? You’ll both be greeted at our drop-off center, where a staff member will go over your animal’s grooming appointment and the expected time. You can choose to leave and come back; however, most people end up walking around the store and finding some fun treats and toys for their furry friends. Your fur baby will return to our grooming area and be treated to the top-quality service(s) you chose for their appointment. Once they are all groomed, you will receive a text that their appointment has been completed. Don’t be surprised when you see your friends looking their best in either a bow or bandana (free of charge) as a way for us to say thank you for putting your trust in Pets-R-Us.
        </p>
        <br>
        <p>
          Please take a look below at the grooming services and prices we offer.   
        </p>
        <hr>
        <div class="card-info"></div>
            <div class="card-title">Pricing</div>
            <div class="card-content">
                <ul>
                    <li class="info">Hair Cut: $60-$120</li>
                    <li class="info">Nail Trim: $20</li>
                    <li class="info">Teeth Cleaning: $15</li>
                    <li class="info">Spa Day: $100-$200</li>
                </ul>
            </div>
    </section>

<%- include("partial/footer.ejs")  %>
