<!--
    Title: grooming.ejs
    Author: Jocelyn Dupuis
    Date: 06/24/2023
    Description: Body of boarding page for Pets-R-Us website
-->

// Displays header
<%- include("./partials/_header.ejs")  %>

// Displays mission statement in body of landing page
    <section class="mission">
        <div class="gooming-background-image"></div>
        <div class="mission-statement">
            <h1>Pets-R-Us</h1>
            <h3>A home away from home</h3>
            <a href="/register" class="btn btn-primary">Register for a FREE account!</a>
        </div>
    </section>




    
// Displays footer   
<%- include("./partials/_footer.ejs")  %>